streamlit
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google.cloud
google-cloud-storage
gtts
spacy
transformers
torch
langchain
wikipedia-api
pypdf
faiss-cpu
langchain-groq
langchain-community
langchain-google-genai
numpy==1.26.4  # Downgraded version
pandas
blis>=0.4.0,<1.0.1  # Version constraint to ensure compatibility
setuptools  # Ensure setuptools is included to avoid distutils issues
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
