pip --upgrade pip
streamlit
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
gtts
transformers
torch
langchain
wikipedia-api
spacy
langchain_groq
langchain_community
langchain_google_genai
numpy==1.22.0  
pandas
blis>=0.4.0,<1.0.1  
setuptools
